<section class="bg-primary dark:bg-primary-dark">
  <div
    class="container mx-auto flex w-full flex-col place-items-center justify-center gap-10 px-5 py-8 md:px-0 md:py-0 md:pt-20"
  >
    <div class="flex w-full max-w-5xl flex-col justify-center gap-2">
      <p class="text-lg font-extrabold text-white md:text-3xl">
        Meet Fellow Indians <br />
        Who Are Visa Ready with Us
      </p>
      <p class="md:text-md text-base font-normal text-white md:text-left">
        Check these videos from existing Atlys members to know how we helped
        them get a Visa
      </p>
    </div>
    <div
      class="flex max-w-5xl flex-col justify-center gap-3 px-4 sm:grid-cols-2 md:grid md:grid-cols-3 md:justify-center md:gap-10 md:px-0 xl:grid-cols-4"
    >
      <div class="flex h-fit w-full flex-1 flex-col place-items-center">
        <div
          class="border-1 relative mb-3 flex aspect-square w-full place-items-center justify-center overflow-hidden rounded-2xl border-slate-200"
        >
          <img
            alt="thumbnail"
            class="h-[280px] w-[280px] object-contain"
            src="assets/images/thumbnail.png"
          /><button
            aria-label="Play Video"
            class="absolute flex h-14 w-14 cursor-pointer place-items-center justify-center rounded-full bg-white transition duration-300 hover:scale-75 focus:outline-none focus:ring-0"
          >
            <svg
              class="text-blue-500"
              fill="none"
              height="24"
              viewBox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="M10.1186 2.63788C8.5271 1.66527 7.73133 1.17897 7.07571 1.23632C6.50412 1.28632 5.98153 1.57941 5.64081 2.04106C5.25 2.57059 5.25 3.50319 5.25 5.36838V18.6314C5.25 20.4966 5.25 21.4292 5.64081 21.9587C5.98153 22.4204 6.50412 22.7135 7.07571 22.7635C7.73133 22.8208 8.5271 22.3345 10.1186 21.3619L20.9702 14.7304C22.4475 13.8276 23.1861 13.3762 23.438 12.7951C23.6578 12.2877 23.6578 11.712 23.438 11.2047C23.1861 10.6236 22.4475 10.1722 20.9702 9.26939L10.1186 2.63788Z"
                fill="currentColor"
                fill-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
        <div class="-mt-4 flex flex-col self-start p-2">
          <p class="text-xl font-bold text-white">Saloni &amp; Dev</p>
          <p class="text-base font-normal text-white">
            Vietnam Visa in 2 hours
          </p>
        </div>
      </div>
      <div class="flex h-fit w-full flex-1 flex-col place-items-center">
        <div
          class="border-1 relative mb-3 flex aspect-square w-full place-items-center justify-center overflow-hidden rounded-2xl border-slate-200"
        >
          <img
            alt="thumbnail"
            class="h-[280px] w-[280px] object-contain"
            src="assets/images/thumbnail.png"
          /><button
            aria-label="Play Video"
            class="absolute flex h-14 w-14 cursor-pointer place-items-center justify-center rounded-full bg-white transition duration-300 hover:scale-75 focus:outline-none focus:ring-0"
          >
            <svg
              class="text-blue-500"
              fill="none"
              height="24"
              viewBox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="M10.1186 2.63788C8.5271 1.66527 7.73133 1.17897 7.07571 1.23632C6.50412 1.28632 5.98153 1.57941 5.64081 2.04106C5.25 2.57059 5.25 3.50319 5.25 5.36838V18.6314C5.25 20.4966 5.25 21.4292 5.64081 21.9587C5.98153 22.4204 6.50412 22.7135 7.07571 22.7635C7.73133 22.8208 8.5271 22.3345 10.1186 21.3619L20.9702 14.7304C22.4475 13.8276 23.1861 13.3762 23.438 12.7951C23.6578 12.2877 23.6578 11.712 23.438 11.2047C23.1861 10.6236 22.4475 10.1722 20.9702 9.26939L10.1186 2.63788Z"
                fill="currentColor"
                fill-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
        <div class="-mt-4 flex flex-col self-start p-2">
          <p class="text-xl font-bold text-white">Priya Shah</p>
          <p class="text-base font-normal text-white">
            Dubai E-Visa in 24 hours
          </p>
        </div>
      </div>
      <div class="flex h-fit w-full flex-1 flex-col place-items-center">
        <div
          class="border-1 relative mb-3 flex aspect-square w-full place-items-center justify-center overflow-hidden rounded-2xl border-slate-200"
        >
          <img
            alt="thumbnail"
            class="h-[280px] w-[280px] object-contain"
            src="assets/images/thumbnail.png"
          /><button
            aria-label="Play Video"
            class="absolute flex h-14 w-14 cursor-pointer place-items-center justify-center rounded-full bg-white transition duration-300 hover:scale-75 focus:outline-none focus:ring-0"
          >
            <svg
              class="text-blue-500"
              fill="none"
              height="24"
              viewBox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="M10.1186 2.63788C8.5271 1.66527 7.73133 1.17897 7.07571 1.23632C6.50412 1.28632 5.98153 1.57941 5.64081 2.04106C5.25 2.57059 5.25 3.50319 5.25 5.36838V18.6314C5.25 20.4966 5.25 21.4292 5.64081 21.9587C5.98153 22.4204 6.50412 22.7135 7.07571 22.7635C7.73133 22.8208 8.5271 22.3345 10.1186 21.3619L20.9702 14.7304C22.4475 13.8276 23.1861 13.3762 23.438 12.7951C23.6578 12.2877 23.6578 11.712 23.438 11.2047C23.1861 10.6236 22.4475 10.1722 20.9702 9.26939L10.1186 2.63788Z"
                fill="currentColor"
                fill-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
        <div class="-mt-4 flex flex-col self-start p-2">
          <p class="text-xl font-bold text-white">Revati Gandhi</p>
          <p class="text-base font-normal text-white">
            Schengen Visa in 5 days
          </p>
        </div>
      </div>
      <div class="flex h-fit w-full flex-1 flex-col place-items-center">
        <div
          class="border-1 relative mb-3 flex aspect-square w-full place-items-center justify-center overflow-hidden rounded-2xl border-slate-200"
        >
          <img
            alt="thumbnail"
            class="h-[280px] w-[280px] object-contain"
            src="assets/images/thumbnail.png"
          /><button
            aria-label="Play Video"
            class="absolute flex h-14 w-14 cursor-pointer place-items-center justify-center rounded-full bg-white transition duration-300 hover:scale-75 focus:outline-none focus:ring-0"
          >
            <svg
              class="text-blue-500"
              fill="none"
              height="24"
              viewBox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="M10.1186 2.63788C8.5271 1.66527 7.73133 1.17897 7.07571 1.23632C6.50412 1.28632 5.98153 1.57941 5.64081 2.04106C5.25 2.57059 5.25 3.50319 5.25 5.36838V18.6314C5.25 20.4966 5.25 21.4292 5.64081 21.9587C5.98153 22.4204 6.50412 22.7135 7.07571 22.7635C7.73133 22.8208 8.5271 22.3345 10.1186 21.3619L20.9702 14.7304C22.4475 13.8276 23.1861 13.3762 23.438 12.7951C23.6578 12.2877 23.6578 11.712 23.438 11.2047C23.1861 10.6236 22.4475 10.1722 20.9702 9.26939L10.1186 2.63788Z"
                fill="currentColor"
                fill-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
        <div class="-mt-4 flex flex-col self-start p-2">
          <p class="text-xl font-bold text-white">Saurav Srivastava</p>
          <p class="text-base font-normal text-white">
            Schengen Visa in 4 days
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
