<section
  class="bg-black dark:bg-primary-dark min-h-svh h-fit flex grow items-center justify-center bg-contain bg-no-repeat bg-bottom relative sm:pt-0 sm:pb-0 pt-10 pb-8"
>
  <video
    autoplay=""
    muted=""
    loop=""
    class="absolute inset-0 z-[1] object-cover w-full h-full"
  >
    <source src="/assets/images/travel2.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="absolute inset-0 bg-black bg-opacity-50 z-[2]"></div>
  <div
    class="grid grid-cols-12 z-[3] w-full lg:px-16 sm:px-4 px-2 container items-center"
  >
    <div class="sm:col-span-7 col-span-12 text-left">
      <div class="max-w-lg">
        <h1
          class="mb-4 !text-2xl !font-extrabold tracking-tight leading-none md:!text-4xl xl:!text-5xl text-white dark:text-white drop-shadow-2xl capitalize"
        >
          The easiest way to get your travel visa
        </h1>
        <p
          class="mb-6 font-normal lg:mb-8 md:text-lg lg:text-xl text-gray-200 dark:text-white drop-shadow-2xl capitalize"
        >
          Let us help you get your visa for any country in the world. Get Your
          Visas on Time or On Us.
        </p>
      </div>
    </div>
    <div class="sm:col-span-5 col-span-12 search-form rounded-lg sm:mt-0 mt-4">
      <div class="px-4 py-8">
        <app-searchform />
      </div>
    </div>
  </div>
</section>
<app-countrylist />
<app-testimonial />


